*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.calculator {
  border: 1px solid black;
  width: 273px;
  height: 547px;
  background-color: #121212;
  padding: 10px 10px 5px;
  border-radius: 70px;
}

.screen {
  height: 80px;
  background-color: #121212;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 5px;
  color: #fefefe;
  font-size: 25px;
  margin: 20px 10px 20px;
}

.keypad {
  padding: 5px;
}

.controls {
  display: flex;
  justify-content: center;
}

.btn {
  flex: auto;
  margin: 3px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
}


.btn:hover {
  background: #0ca6bb;
  color: #121212;
}

.num {
  background-color: #404040;
  color: #fcfcfc;
}

.operator {
  background-color: #ff9c12;
  color: #fdfcf6;
}

.reset,
.toggle-plus-minus,
.percent-operator {
  background-color: #b4b4b4;
  color: #191919;
}

.double-size {

  border-radius: 30px;
  width: 60px;
  height: 60px;
}

.single-size {
  flex: 1;
}

.btn:active {
  font-size: 14px;
}
