*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.calculator {
  border: 1px solid black;
  width: 273px;
  height: 547px;
  background-color: #000000;
  padding: 10px 10px 5px;
  border-radius: 25px;

}

.top-container {
  height: 10%;
  background: #000000;
  display: flex;
  justify-content: space-between;
  color: #fdfcf6;
}

.status img{
  height: 10px;
}

.screen {
  height: 80px;
  background-color: #000000;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 5px;
  color: #fefefe;
  font-size: 50px;
  margin: 20px 10px 20px;
}

.keypad {
  padding: 5px;
}

.controls {
  display: flex;
  justify-content: center;
}

.btn {
  flex: auto;
  margin: 3px;
  width: 20px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
}


.num {
  background-color: #404040;
  color: #fcfcfc;
}

.operator {
  background-color: #ff9c12;
  color: #fdfcf6;
}

.reset,
.toggle-plus-minus,
.percent-operator {
  background-color: #b4b4b4;
  color: #191919;
}



.single-size {
  flex: 1;
}

.double-size{
  flex-grow: 2;
  height: auto;
  border-radius: 30px;
}

.active {
  background: #ffffff;
  color: #ff9c12;
  transition: background-color 0.5s ease;
}

.btn:active {
  transition: background-color 0.5s ease;
  background: #b4b4b4;
}

